.container__lista-btnRemover, .container__lista-btnAdicionar, .container__lista-btnEncerrar {
    width: 170px;
    background: black;
    color: white;
    font-family: var(--fonte-principal);
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
}

.input-remover-nome {
    margin: 0px auto 10px auto;
    width: 250px;
}

.btnRemoveItem, .btnVoltar {
    width: 150px;
    background: black;
    color: white;
    font-family: var(--fonte-principal);
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
}